mixin sContact(data)
	// start sContact
	+b.SECTION.sContact.section&attributes(attributes)
		+e.bg-text
			img(src="img/svg/logo-bg.svg", alt="")
		.container
			+e.wrap
				+e.map-block(data-aos="fade-up" data-aos-duration="600" data-aos-delay="800")
					+e.IMG.map-pic(src="img/map.jpg", alt="")
					+e.map-link.modal-open-link(href="#" data-src="#modal-map" data-fancybox="modal")
						+icon('map')
						span=data.map
				+e.text-block(data-aos="fade-up" data-aos-duration="600" data-aos-delay="200")
					h2=data.title
					+e.text-item
						p!=`<strong>${data.subtitle1}</strong>`
						p=data.caption
					+e.text-item
						p!=`<strong>${data.subtitle2}</strong>`
						+e.tel-wrap
							a(href="tel:+79099969698") +7 909 996-96-98
							+e.soc-wrap
								img(src="img/svg/telegram.svg", alt="")
								img(src="img/svg/whatsapp.svg", alt="")
					+e.text-item
						p!=`<strong>${data.subtitle3}</strong>`
						a(href="mailto:sales@sutoteile-import.ru") sales@sutoteile-import.ru
					+e.text-item
						p!=`<strong>${data.subtitle4}</strong>`
						a(href="mailto:buying@sutoteile-import.ru") buying@sutoteile-import.ru
	// end sContact