mixin headerBlock(data)
	// start headerBlock
	+b.headerBlock.section&attributes(attributes)
		.container
			+e.wrap
				+e.car(data-aos="fade-up" data-aos-duration="600" data-aos-delay="0")
					+e.IMG.car-bg(src="img/car-bg.png", alt="")
					//- mixin item(num)
					- for(let x = 1;x<7;x++)
						+e.car-item(class=`--pos${x}` data-aos="fade-up" data-aos-duration="300" data-aos-delay=`${600 + 300*x}`)
							img(src=`img/car-item-${x}.png`, alt="")
						//- +item(x)
				h1(data-aos="fade-up" data-aos-duration="600" data-aos-delay="600")!= data.title 
				+e.caption.d-lg-none(data-aos="fade-up" data-aos-duration="600" data-aos-delay="1200")!= data.caption 
				a.top-nav__order-call.modal-open-link.d-lg-none(href="#" data-src='#modal-call' data-fancybox="modal" data-aos="fade-up" data-aos-duration="600" data-aos-delay="1800")!= data.order 
			+e.caption.d-none.d-lg-block(data-aos="fade-up" data-aos-duration="600" data-aos-delay="1200")!= data.caption 
			
	// end headerBlock