include include.pug
include js-css.pug
include ../blocks/modal/_modal.pug

include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sProduct/_sProduct.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/footer/_footer.pug

block variables
doctype html
html(lang= lan.lang)
	head
		meta(charset="utf-8")

		block title
			title= lan.title
		meta(name="description", content=lan.description)
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width,  maximum-scale=1.0, user-scalable=no ") 
		<meta name="format-detection" content="telephone=no">
		meta(property="og:title" content= lan.title)
		meta(property="og:url" content="https://autoteile-import.ru")
		meta(property="og:type" content="website")
		meta(property="og:description" content= lan.description)
		meta(property="og:image" content="https://autoteile-import.ru/img/og.png")
		meta(property="og:image:width" content="1700")
		meta(property="og:image:height" content="630")

		<link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
		<link rel="manifest" href="./favicon/site.webmanifest">
		<link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		+allcss()
	//- style.
	//- 	.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	//- body.loaded_hiding(class= mainPage) 
	body(class=mainPage data-bg=bg) 
		+top-nav(lan.orderCall)
			+mnu(lan.nav)
		#fullpage
			+headerBlock(lan.header)
			+sAbout(lan.about)
			+sProduct(lan.product)
			+sAdvantages(lan.advantages)
			+sContact(lan.contact)
		+footer(lan.footer)
		+modal(lan)
		+changeLang(lan.lang)
	
		block pagecontent

		+allcjs()
		
		